---
tags: ['project']
date: 2019-12-05
title: False Prophet
blurb: A four-act campaign written for the Firefly Role-Playing Game Core Rulebook.
tools: ['CeltX', 'Google Docs', 'Procreate']
thumbnail: false-prophet-cover.PNG
layout: layouts/project.njk
buttons: [{ icon : 'link', text: 'View', link : 'https://drive.google.com/file/d/1OhpreCJq_2c_H4xi-RQGj0CEUfOiPvCZ/view', target: "_blank" }]
---

<p>This 114-page campaign book was written for Gerard Klug's class RPG Writing Workshop by a team of four writers. I wrote all materials for Act 4, which consists of a story beats section, a gameplay section, and a dramatic sceenplay. I also created supporting materials such as NPC character sheets, maps, and artwork. I was responsible for laying out and printing the book.</p>

{% include "modal.njk" %}

{% macro src(img)%}{{ img.src }}{% endmacro %}

{% macro alt(img) %}{{ img.alt }}{% endmacro %}

{% macro overlay(img) %}{% endmacro %}

{% macro fields(dat) %}{% endmacro %}

{% set data = falseProphet %}
{% include "gallery.njk" %}