---
layout: layouts/main.njk
currentPage: projects
metaDescription: Tiffany Li is a Carnegie Mellon University alumna who specializes in game and game-adjacent software that incorporate a breadth of disciplines such as engineering, visual arts, and design.
---
<style>
    .media-wrapper .media-overlay {
        background-color: var(--overlay-background-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .media-wrapper .media-overlay > div {
        padding: 50px;
        max-width: 500px;
    }
    .media-overlay h1 {
        margin: 0em 0em 0.5em 0em;
    }
    .media-overlay p {
        margin: 0em;
    }
    img#static\/images\/logo-f20-extended\.svg {
        background-color: #171714;
    }
</style>

{% set data = collections.project | reverse %}

{% macro src(project)%}{{ project.data.thumbnail }}{% endmacro %}

{% macro alt(project) %}{{ project.data.blurb }}<br/><i>{% enumerate project.data.tools %}</i>{% endmacro %}

{% macro overlay(project) %}
<div>
    <h1>{{ project.data.title }}</h1>
    <p><b>{{ project.data.date | year }}.</b>&nbsp&nbsp{{ project.data.blurb }}<br/><i>{% enumerate project.data.tools %}</i></p>
</div>
{% endmacro %}

{% macro fields(dat) %}href = "{{ dat.url | url }}"{% endmacro %}

{% include "gallery.njk" %}