---
tags: ['project']
date: 2020-05-17
title: PolyRhythm Painter (WIP)
blurb: An online drawing game with rhythm game mechanics.
tools: ['Unity', 'C#', 'HLSL']
thumbnail: PRP.png
layout: layouts/blog.njk
---
{% set buttons %}
<a class="social-icon" href="https://github.com/helveticalover/ddraw/releases/tag/0.0.1"><div class="small minor button">Download DDRaw</div></a>
{% endset %}


{% include "projectBlurb.njk" %}
<p>This project an extension of DDRaw, a prototype made for a art exhibition in 4 days.</p>

<p>The goal of PolyRhythm Painter is to recreate drawings as accurately as possible by following instructions scrolling across the screen. The more accurate you are, the more faithful your drawing is to the original. You can also use the game’s built-in level editor to create your own drawings to share with other players.</p>

<p>PolyRhythm Painter aims to deconstruct the notion that art is only valuable for its novelty, and that works that exist for the enjoyment of making them are inherently inferior. The game's ecosystem of sharing creations and recreations between many players demonstrates that the process of “making” art is just as valuable as the process of “creating” it. PolyRhythm Painter further aims to provide a gaming experience that values collaboration and creativity over competition and achievement. In this game, mistakes aren’t failures; they’re opportunities to laugh, or to create something new and unexpected. The strict, unforgiving timing requirements of rhythm games are subverted by the openness of drawing, rewarding the player however they choose to play the game.</p>

