---
layout: layouts/main.njk
title: Tiffany Li
thumbnail: "selfportrait.jpg"
thumbnailAlt: "A self portrait. <i>Ink.</i>"
currentPage: about-me
---

{% include "modal.njk" %}
<style>
{% include "css/about-me.css" %}
</style>
<div id="about-me" class="page-card blog-body">
    {% set textContent %}
    {% set description %}
        <p>I am a Carnegie Mellon University alumna with a 
        Bachelor's of Computer Science and Arts and a minor in Game Design. I 
        specialize in game and game-adjacent software that incorporate a breadth 
        of disciplines such as engineering, visual arts, and design.
        </p>
    {% endset %}
    {% set footer %}
        <ul class="flex-nav responsive-flex" style="max-width:400px;">
            <li style="margin-bottom: 30px"><a class="social-icon" href="#resume"><div class="button major small">Resume</div></a></li>
            <li><ul class="flex-nav responsive-flex">
                <li><a class="social-icon" href="https://www.linkedin.com/in/tiffany-li-a86656135/"><img src="{{ '/static/In-Blue-128.png' | url }}"></a></li>
                <li><a class="social-icon" href="https://github.com/helveticalover"><img src="{{ '/static/GitHub-Mark-64px.png' | url }}"></a></li>
            </ul></li>
        </ul>
    {% endset %}

    {% include "titleText.njk" %}
    {% endset %}

    {% include "horizontalCard.njk" %}
</div>

<div id="resume">
    <div>
        <div style="display: flex; flex-direction: row-reverse;">
            <a href="{{ '/static/resume.pdf' | url }}"><div class="button square minor"><i class="material-icons">download</i></div></a>
        </div>
        <div class="resume-wrapper">
            {% include "resume.html" %}
        </div>
    </div>
</div>