---
layout: "layouts/main.njk"
currentPage: gallery
---
{% include "modal.njk" %}

{% set data = illustrations %}

{% macro src(dat)%}{{ dat.src }}{% endmacro %}

{% macro alt(dat) %}{{ dat.alt }}&nbsp;<i>{% enumerate dat.tools %}</i>{% endmacro %}

{% macro overlay(dat) %}{% endmacro %}

{% macro fields(dat) %}href="#"{% endmacro %}


{% include "gallery.njk" %}