---
layout: "layouts/main.njk"
modal: true
currentPage: gallery
---
{% include "modal.njk" %}

{% set data = illustrations %}

{% macro src(illustration)%}static/images/{{ illustration.src }}{% endmacro %}

{% macro alt(illustration) %}{{ illustration.alt }}&nbsp;<i>{% enumerate illustration.tools %}</i>{% endmacro %}

{% macro overlay(illustration) %}{% endmacro %}

{% macro fields(dat) %}href="#"{% endmacro %}


{% include "gallery.njk" %}