---
layout: "layouts/gallery.njk"
modal: true
---
{%- for img in illustrations -%}
{% set alt %}
{{ img.alt }}&nbsp;<i>{% enumerate img.tools %}</i>
{% endset %}
{% modalImage "static/images/" + img.src, alt %}
{% endmodalImage %}
{%- endfor -%}