---
layout: "layouts/main.njk"
currentPage: illustrations
metaDescription: Tiffany Li is a Carnegie Mellon University alumna who specializes in game and game-adjacent software that incorporate a breadth of disciplines such as engineering, visual arts, and design.
---
{% include "modal.njk" %}

{% set data = illustrations %}

{% macro src(dat)%}{{ dat.src }}{% endmacro %}

{% macro alt(dat) %}{{ dat.alt }}{% if dat.tools %}&nbsp;<i>{% enumerate dat.tools %}{% endif %}</i>{% endmacro %}

{% macro overlay(dat) %}{% endmacro %}

{% macro fields(dat) %}{% endmacro %}


{% include "gallery.njk" %}