---
layout: "layouts/main.njk"
modal: true
---
{% include "modal.njk" %}
{% from "modal.njk" import openModal %}


{% set data = illustrations %}

{% macro src(illustration)%}static/images/{{ illustration.src }}{% endmacro %}

{% macro alt(illustration) %}{{ illustration.alt }}&nbsp;<i>{% enumerate illustration.tools %}</i>{% endmacro %}

{% macro href(illustration) %}{% set fullSrc %}{{ src(illustration) }}{% endset %}{{ openModal(fullSrc) }}{% endmacro %}

{% macro overlay(illustration) %}{% endmacro %}




{% include "gallery.njk" %}