<!DOCTYPE html>
<meta charset="utf-8">
<title>Redirecting to {{ "/projects" | url }}</title>
<meta http-equiv="refresh" content="0; URL={{ "/projects" | url }}">
<link rel="canonical" href="{{ "/projects" | url }}">