---
layout: layouts/main.njk
currentPage: projects
---
<style>
    .image-wrapper .image-overlay {
        background-color: var(--overlay-text-color);
    }
    .image-wrapper .image-overlay > div {
        padding: 50px;
        max-width: 500px;
    }
    img#static\/images\/logo-f20-extended\.svg {
        background-color: #171714;
    }
</style>

{% set data = collections.project | reverse %}

{% macro src(project)%}static/images/{{ project.data.thumbnail }}{% endmacro %}

{% macro alt(project) %}{{ project.data.blurb }}<br/><i>{% enumerate project.data.tools %}</i>{% endmacro %}

{% macro overlay(project) %}
<div>
    <h1>{{ project.data.title }}</h1>
    <p>{{ project.data.blurb }}<br/><i>{% enumerate project.data.tools %}</i></p>
</div>
{% endmacro %}

{% macro fields(dat) %}href = "{{ dat.url | url }}"{% endmacro %}

{% include "gallery.njk" %}