---
layout: "layouts/main.njk"
currentPage: videos
metaDescription: Tiffany Li is a Carnegie Mellon University alumna who specializes in game and game-adjacent software that incorporate a breadth of disciplines such as engineering, visual arts, and design.
---
<script src="https://unpkg.com/lite-vimeo-embed"></script>

{% include "modal.njk" %}

{% set data = videos %}

{% macro src(dat)%}{{ dat.src }}{% endmacro %}

{% macro alt(dat) %}{{ dat.alt }}{% endmacro %}

{% macro overlay(dat) %}{% endmacro %}

{% macro fields(dat) %}{% endmacro %}


{% include "gallery.njk" %}