<div class="gallery" id="id_gallery">
    {%- for dat in data -%}
    {% set tempSrc %}{{ src(dat) }}{% endset %}
    {% set tempAlt %}{{ alt(dat) }}{% endset %}
    {% set tempOverlay %}{{ overlay(dat) }}{% endset %}
    {% set tempFields %}{{ fields(dat) }}{% endset %}

    {% media tempSrc, tempAlt, tempFields %}
        {{ tempOverlay | safe }}
    {% endmedia %}

    {%- endfor -%}
</div>
{% if initGallery != true %}
<style>
    {% include "css/gallery.css" %}
</style>
<script language="javascript">
    {% include "js/gallery.js" %}
    const gallery = new Gallery({{ targetHeight }});
</script>
{% endif %}