<div class="gallery" id="id_gallery">
    {%- for dat in data -%}
    {% set tempSrc %}{{src(dat)}}{% endset %}
    {% set tempAlt %}{{alt(dat)}}{% endset %}
    {% set tempHref %}{{href(dat)}}{% endset %}
    {% set tempOverlay %}{{ overlay(dat) }}{% endset %}

    {% image tempSrc, tempAlt, tempHref %}
        {{ tempOverlay | safe }}
    {% endimage %}
    {%- endfor -%}
</div>
<link href="{{ '/static/gallery/gallery.css' | url }}" type="text/css" rel="stylesheet">
<script language="javascript" src="{{ '/static/gallery/gallery.js' | url }}"></script>
<script>const gallery = new Gallery({{ targetHeight }});</script>