<script>
  var prevScrollPos = window.pageYOffset;
  window.onscroll = function() {
    let diff = window.pageYOffset - prevScrollPos;
    if (diff < -5 || window.pageYOffset < 58) {
      document.getElementById("navbar").style.top = "0px";
    } else if (diff > 0) {
      document.getElementById("navbar").style.top = "-58px";
      document.getElementById("id_nav-collapsible").checked = false;
    }
    prevScrollPos = window.pageYOffset;
  }
</script>
<div class="header" id="navbar">
    <nav class="center">
      <input id="id_nav-collapsible" class="mobile-expand" type="checkbox">
      <div class="banner">
        <div class="title">
            <div>
                <span class="cap">T</span>
                <span class="lower">IFFANY</span>
                <span class="cap">&nbsp;L</span>
                <span class="lower">I</span>
            </div>
        </div>
        <div style="width: 100%;">
          <label for="id_nav-collapsible" class="mobile-expand-lbl" data-target="id_nav"><i class="material-icons">menu</i></label>
        </div>
      </div>
      <div id="mobile-expand-content">
        <ul class="nav" id="id_nav">
          <li><a href="{{ '/projects' | url }}"><div class="button {% if currentPage == "projects" %}active{% endif %}">Projects</div></a></li>
          <li><a href="{{ '/illustrations' | url }}"><div class="button {% if currentPage == "illustrations" %}active{% endif %}">Illustrations</div></a></li>
          {# <li><a href="{{ '/videos' | url }}"><div class="button {% if currentPage == "videos" %}active{% endif %}">Videos</div></a></li> #}
          <li><a href="{{ '/about-me#about-me' | url }}"><div class="button {% if currentPage == "about-me" %}active{% endif %}">About Me</div></a></li>
        </ul>
      </div>
    </nav>
</div>