<div class="header">
    <div class="center title">
      <a href="#">
        <img src="{{ '/static/cgpicon.png' | url }}">
      </a>
    </div>
    <nav class="center">
      <div class="wrap-mobile-collapsible">
        <input id="id_nav-collapsible" class="mobile-expand" type="checkbox">
        <label for="id_nav-collapsible" class="mobile-expand-lbl center" data-target="id_nav"><i class="material-icons">menu</i></label>
        <div class="mobile-expand-content">
          <ul class="nav" id="id_nav">
            <li><a href="{{ '/projects' | url }}">Projects</a></li>
            <li><a href="{{ '/gallery' | url }}">Gallery</a></li>
            <li><a href="{{ '/about-me#about-me' | url }}">About Me</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>