<div class="horizontal-container">
    <div class="left">
        {% image thumbnail, thumbnailAlt %}
        {% endimage %}
    </div>
    <div class="right">
        {{ textContent | safe }}
    </div>
</div>

