<div class="horizontal-container">
    <div class="left full-width-on-mobile">
        {% image thumbnail, thumbnailAlt, "", false %}
        {% endimage %}
    </div>
    <div class="right">
        {{ textContent | safe }}
    </div>
</div>

