<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tiffany Li</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link href="{{ '/static/base.css' | url }}" type="text/css" rel="stylesheet">
</head>
<body>
  {% include "header.njk" %}
  <div class="content">
    {{ content | safe }}
  </div>
</body>
</html>
