<script async src="{{ "/static/components/modal-component.js" | url }}"></script>
<style>
popup-modal:not(:defined) {
  display: none;
}
</style>
<popup-modal id="modal">
    <span slot="exit-icon">{% include "svg/close.svg" %}</span>
</popup-modal>