<div class="modal hidden" id="modal">
  <span class="modal-close"><i class="material-icons">close</i></span>
  <div class="modal-background">
    <div class="modal-content">
        <img class="modal-img">
        <div class="modal-caption">test caption</div>
    </div>
  </div>
</div>
<style>
  {% include "css/modal.css" %}
</style>
<script language="javascript">
  {% include "js/modal.js" %}
  const modal = new Modal();
</script>