<h1>{{ title }}</h1>
{% if date %}
<h3><b>{{ date | year }}.</b>&nbsp&nbsp{{ blurb }}</h3>
{% endif %}
{% if tools %}
<i>{% enumerate tools %}</i>
{% endif %}
{{ description | safe }}
{% if buttons %}
<ul class="flex-nav responsive-flex" style="margin-top: 30px; max-width: 400px;">
    {% for button in buttons %}
    <li style="display: inline;"><a class="social-icon" href="{{ button.link }}" target="{{ button.target }}">
        <div style="margin-left: 3px; margin-right: 3px;" class="small minor button hide-on-mobile">
            {{ button.text }}
        </div>
        <div class="hide-on-desktop"><div style="margin-left: 12px; margin-right: 12px;" class="minor button social-icon">
            {% include "svg/" + button.icon + ".svg" %}
        </div></div>
    </a></li>
    {% endfor %}
</ul>
{% endif %}
{% if footer %}
{{ footer | safe }}
{% endif %}