<h1>{{ title }}</h1>
{% if date %}
<h2><b>{{ date | year }}.</b>&nbsp&nbsp{{ blurb }}</h2>
{% endif %}
{% if tools %}
<i>{% enumerate tools %}</i>
{% endif %}
{{ description | safe }}
{% if buttons %}
<ul class="flex-nav responsive-flex" style="margin-top: 30px; max-width: 400px;">
    {% for button in buttons %}
    <li style="display: inline; margin-left: 0px;"><a href="{{ button.link }}" target="{{ button.target }}" aria-label="{{ button.text }}" style="align-items: center; display: inline-flex; height: 32px;">
        <div style="margin-left: 0px; margin-right: 3px;" class="small minor button hide-on-mobile">
            {{ button.text }}
        </div>
        <div class="hide-on-desktop"><div style="margin-left: 6px; margin-right: 6px;" class="square minor button">
            {% include "svg/" + button.icon + ".svg" %}
        </div></div>
    </a></li>
    {% endfor %}
</ul>
{% endif %}
{% if footer %}
{{ footer | safe }}
{% endif %}