@import url('https://themes.googleusercontent.com/fonts/css?kit=q2OIMsAtXEkOulLQVdSl04PhyMdNCB7wo_2qNgS7ixM');
body, html {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    scroll-behavior: smooth;
    color: var(--text-color-body);
    background-color: var(--website-background-color);
    overflow: auto;
}
a:link, a:visited {
    text-decoration: none;
    color: var(--text-color-body);
}
h1,h2,h3,h4 {
    color: var(--text-color-heading);
}
h2 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.body-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content {
    flex: 1;
    width: 100%;
    padding: var(--body-padding);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.center {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 100%;
}
.center-flex {
    display: flex;
    justify-content: center;
}
.blog-body {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-wide {
    height: 100%;
    width: 100%;
}
.blog-narrow {
    max-width: 700px;
}

.blog-wide img, .blog-narrow img {
    width: 100%;
    height: 100%;
}
.major {
    background-color: var(--background-color-major);
    color: var(--text-color-heading);
}
.minor {
    background-color: var(--background-color-minor);
    color: var(--text-color-body);
}
.responsive-flex {
    display: flex;
}
.flex-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-inline-start: 0px;
}
.flex-nav>li {
    width: auto;
    height: auto;
    list-style-type: none;
    margin: 0px 6px 20px 6px;
    display: inline;
}
.horizontal-container {
    display: flex;
    padding: 0px;
    width: 100%
}
.horizontal-container>.left {
    align-self: center;
    order: 1;
}
.horizontal-container>.right{
    padding-left: 30px;
    align-self: center;
    order: 2;
    flex-shrink: 2;
}
.horizontal-container>.left img {
    width: 100%;
    height: auto;
}
.page-card {
    min-height: 100vh;
}
.blog-wide, .blog-narrow, .horizontal-container>.left, .horizontal-container>.right {
    margin-bottom: 24px
}
.hide-on-desktop {
    display: none;
}
.socials-email>svg {
    height: 44px;
    max-width: unset;
    max-height: unset;
}
.gallery {
    margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
    .horizontal-container {
        padding-top: 0px;
        flex-direction: column;
        height: 100%;
    }
    .horizontal-container>.left {
        width: 100%;
    }
    .horizontal-container>.right {
        padding-left: 0px;
        width: 100%
    }
}

@media only screen and (max-width: 768px) {
    .content {
        width: 100%;
        margin-top: 44px;
    }
    .blog-body {
        padding: 0px 10px;
    }
    .responsive-flex {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .gallery {
        justify-content: center;
    }
    .hide-on-mobile {
        display: none;
    }
    .hide-on-desktop {
        display: block;
    }
    .full-width-on-mobile {
        width: 100vw !important;
    }
    .flex-nav>li {
        margin-left: 12px;
        margin-right: 12px;
    }
}