.button {
    border-radius: 3px;
    padding: 6px 24px;
    color: white;
    font-size: 24px;
    height: 38px;
}
.button.large {
    border-radius: 3px;
    padding: 6px 24px;
    font-size: 24px;
}
.button.small {
    border-radius: 3px;
    padding: 6px 18px;
    font-size: 18px;
    height: 24px;
}
.button.square {
    padding: 6px 6px;
}
.button>.abbreviated {
    display: none;
}
.social-icon {
    display: inline-flex;
    height: 32px;
    width: auto;
    margin: auto;
    align-items: center;
}
.social-icon > * {
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
.social-icon > img {
    filter: grayscale(100%) contrast(500%) contrast(20%);
}
@media only screen and (max-width: 768px) {
    .button>.verbose {
        display: none;
    }
    .button>.abbreviated {
        display: block;
    }
}