.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery * {
  margin: 0;
  padding: 0;
}
.gallery .image-wrapper {
  max-height: var(--gallery-image-max-height);
}
.gallery img {
  width: 100%;
  height: 100%;
}
.image-wrapper {
  position: relative;
}
.image-wrapper .image-overlay {
  position: absolute;
  top: calc(0px + var(--gallery-margin-top));
  bottom: calc(0px + var(--gallery-margin-top));
  left: calc(0px + var(--gallery-margin-left));
  right: calc(0px + var(--gallery-margin-left));
}