.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.gallery .media-wrapper {
  display: block;
  margin: 0;
  padding: 0;
}
.gallery img, .gallery iframe, .gallery lite-vimeo {
  display: block;
  width: 100%;
  height: 100%;
}
.gallery .media-wrapper {
  position: relative;
}
.gallery .media-wrapper .media-overlay {
  position: absolute;
  top: calc(0px + var(--gallery-margin-top));
  bottom: calc(0px + var(--gallery-margin-top));
  left: calc(0px + var(--gallery-margin-left));
  right: calc(0px + var(--gallery-margin-left));
}