.media-wrapper {
    display: grid;
}

.media-wrapper:hover img {
    box-shadow: 1px 1px 10px var(--shadow-color-highlighted);
}
.media-wrapper>.media-overlay {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--overlay-image-color);
    opacity: 0;
    z-index: 1;
    overflow: hidden;
}
.media-wrapper:hover .media-overlay {
    opacity: 1;
    transition: opacity 0.2s linear;
}
.media-wrapper picture {
    grid-column: 1;
    grid-row: 1;
}
img.lazy {
    object-fit: cover;
    opacity: 0;
    visibility: hidden;
    box-shadow: 1px 1px 5px var(--shadow-color);
    background-color: white;
}
img.lazy:not(.initial) {
    transition: opacity 1s;
}
img.lazy.initial,
img.lazy.loaded,
img.lazy.error {
    opacity: 1;
    visibility: visible;
}