.header {
    margin: 0;
    padding: 25.5px;
    display: flex;
    flex-direction: column;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title>div {
    display: inline-flex;
    align-items: baseline;
    margin: 10px 0px;
}
.title .lower {
    font-size: var(--title-lower-font-size);
    font-weight: 600;
}
.title .cap {
    font-size: var(--title-upper-font-size);
    font-weight: 600;
}
.mobile-expand {
    display: none;
}
.mobile-expand-lbl {
    display: none;
    cursor: pointer;
    transition: all 0.25s ease-out;
}
.mobile-expand-lbl:hover {
    color: var(--background-color-major);
}
#mobile-expand-content {
    max-height: auto;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}
.mobile-expand:checked ~ #mobile-expand-content {
    max-height: 100vh;
}
nav {
    margin: 10px 0px 20px 0px;
}
nav ul {
    padding: 0px;
    margin: 0px;
}
nav li {
    display: inline;
}
nav a {
    display: inline-block;
    margin: 4px 2px;
}
nav .button {
    padding: 6px 18px;
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 10px;
    }
    .title>div {
        display: inline-flex;
        align-items: baseline;
        margin: 0px;
    }
    .banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
    }
    nav {
        margin: 0px;
    }
    nav ul {
        margin: 16px;
    }
    .nav li {
        display: inline-block;
        width: 100%;
    }
    .mobile-expand-lbl {
        display: block;
        top: 2px;
        position: relative;
        float: right;
    }
    #mobile-expand-content {
        max-height: 0px;
    }
    .nav a {
        width: 100%;
    }
}