:root {
    --body-font: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    --body-font-size: 1.05em;
    --body-padding: 10px 1.5em;
    --modal-padding: 50px;
    --gallery-margin-left: 6px;
    --gallery-margin-top: 6px;
    --title-lower-font-size: 26.5pt;
    --title-upper-font-size: 28pt;

    --website-background-color: rgb(255, 253, 250);
    --background-color-major: hsl(0, 0%, 65%);
    --background-color-minor: hsl(0, 0%, 75%);
    --background-color-invert: rgb(33, 33, 36);
    --overlay-background-color: rgba(255, 255, 255, 0.9);
    --overlay-image-color: rgba(255, 255, 255, 0.2);
    --shadow-color: var(--background-color-minor);
    --shadow-color-highlighted: var(--background-color-major);
    --text-color-body: black;
    --text-color-heading: black;
    --text-color-highlight: black;
    --text-color-invert: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --website-background-color: rgb(33, 33, 36);
        --background-color-major: rgb(119, 119, 119);
        --background-color-minor: rgb(79, 79, 79);
        --background-color-invert: rgb(202, 202, 202);
        --overlay-background-color: rgba(33, 33, 36, 0.9);
        --overlay-image-color: rgba(33, 33, 36, 0.3);
        --shadow-color: rgba(0,0,0,1);
        --shadow-color-highlighted: rgba(0,0,0,1);
        --text-color-body: rgb(202, 202, 202);
        --text-color-heading: rgb(240, 240, 240);
        --text-color-highlight: white;
        --text-color-invert: black;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --body-font-size: 1em;
        --gallery-margin-left: 5px;
        --gallery-margin-top: 3px;
        --body-padding: 0px;
        --modal-padding: 0px;
        --title-lower-font-size: 15.2pt;
        --title-upper-font-size: 16pt;
    }
}