
  .modal {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s;
  }

  .modal.hidden {
    visibility: hidden;
    opacity: 0;
  }

  .modal.displayed {
    visibility: visible;
    opacity: 1;
  }

  .modal .modal-background {
    position: relative;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .modal .modal-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal .modal-img {
    max-width: calc(100vw - var(--modal-padding));
    max-height: calc(100vh - 1em - var(--modal-padding));
  }

  .modal .modal-caption {
    position: block;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 5px 0;
  }

  .modal .modal-close {
    position: fixed;
    float: right;
    top: -5px;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.2s;
    z-index: 1;
  }

  .modal .modal-close:hover,
  .modal .modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .modal .modal-img {
      max-width: calc(100vw - var(--mobile-modal-padding));
      max-height: calc(100vh - 1em - var(--mobile-modal-padding));
    }
  }