.gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery picture {
    margin: 0;
  }
  .gallery img {
    object-fit: cover;
    padding: 0;
    opacity: 0;
    visibility: hidden;
  }
  .gallery img:not(.initial) {
    transition: opacity 1s;
  }
  .gallery img.initial,
  .gallery img.loaded,
  .gallery img.error {
    opacity: 1;
    visibility: visible;
  }