:root {
    --body-font: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    --body-font-size: 1em;
    --body-padding: 10px 1.5em;
    --mobile-body-padding: 0px;
    --modal-padding: 50px;
    --mobile-modal-padding: 0px;
    --desktop-gallery-margin-left: 6px;
    --desktop-gallery-margin-top: 6px;
    --mobile-gallery-margin-left: 5px;
    --mobile-gallery-margin-top: 5px;
    --gallery-margin-left: var(--desktop-gallery-margin-left);
    --gallery-margin-top: var(--desktop-gallery-margin-top);

    --website-background-color: rgb(255, 253, 250);
    --background-color-major: black;
    --background-color-minor: hsl(247, 10%, 33%);
    --text-color-body: black;
    --text-color-current-page: red;
}

body, html {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    scroll-behavior: smooth;
    color: var(--text-color-body);
    background-color: var(--website-background-color);
}
a:link, a:visited {
    text-decoration: none;
    color: var(--text-color-body);
}
.body-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.content {
    flex: 1;
    width: 100%;
    padding: var(--body-padding);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    margin: 0;
    padding: 25.5px;
}
.center {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    width: 100%;
}
.title {
    height: 120px;
}
.title img {
    height: 100%;
    box-sizing: inherit;
    vertical-align: top;
    display: inline;
}

/* navigation */
nav {
    margin: 20px 0px;
}
nav ul {
    padding: 0;
}
nav li {
    display: inline;
}
nav a {
    display: inline-block;
    margin: 10px;
}
.mobile-expand {
    display: none;
}
.mobile-expand-lbl {
    display: none;
    cursor: pointer;
    transition: all 0.25s ease-out;
}
.mobile-expand-lbl:hover {
    color: #7C5A0B;
}
.mobile-expand-content {
    max-height: auto;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}
.mobile-expand:checked + .mobile-expand-lbl + .mobile-expand-content {
    max-height: 100vh;
}

/* image transitions */
.image-wrapper img {
    transition: box-shadow 0.2;
}
.image-wrapper:hover img {
    box-shadow: 1px 1px 10px var(--background-color-major);
}
img.lazy {
    object-fit: cover;
    opacity: 0;
    visibility: hidden;
    box-shadow: 1px 1px 5px var(--background-color-minor);
    background-color: white;
}
img.lazy:not(.initial) {
    transition: opacity 1s;
}
img.lazy.initial,
img.lazy.loaded,
img.lazy.error {
    opacity: 1;
    visibility: visible;
}

/* about me */
.blog-body {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}
#about-me {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
}
#about-me>div {
    display: flex;
    padding-top: 100px;
}
#portrait {
    max-width: 40%;
    align-self: center;
    order: 1;
}
#portrait img {
    width: 100%;
    height: auto;
}
#self-intro {
    padding-left: 30px;
    align-self: center;
    order: 2;
}
#self-intro > p {
    margin-bottom: 30px;
}
.flex-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.flex-nav li {
    margin-right: 12px;
    display: inline;
}
.flex-nav>li {
    width: auto;
    height: auto;
    margin-bottom: 20px;
}
.button {
    background-color: var(--background-color-major);
    border-radius: 3px;
    padding: 6px 24px;
    color: white;
    font-size: 24px;
}
.social-icon {
    display: inline-flex;
    height: 32px;
    width: auto;
    margin: auto;
    align-items: center;
}
.social-icon > * {
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
.social-icon > img {
    filter: grayscale(100%) contrast(500%) contrast(20%);
}
#resume {
    position: relative;
    min-height: 100vh;
    min-width: 100%;
}
#resume>div {
    padding: 36px;
    max-width: 540pt;
    margin: auto;
    text-align: right;
}
#resume>div>div {
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    :root {
        --gallery-margin-left: var(--mobile-gallery-margin-left);
        --gallery-margin-top: var(--mobile-gallery-margin-top);
    }
    .content {
        width: 100%;
        padding: var(--mobile-body-padding);
    }
    .nav li {
        display: inline-block;
        width: 100%;
    }
    .mobile-expand-lbl {
        display: inline-block;
    }
    .mobile-expand-content {
        max-height: 0px;
    }
    .blog-body {
        padding: 0px 50px;
    }
    #about-me>div {
        padding-top: 0px;
        position: relative;
        flex-direction: column-reverse;
        height: 100%;
        overflow: hidden;
    }
    #portrait {
        max-width: 100vw;
        width: 100vw;
        flex: 1;
        order: 2;
    }
    #portrait img{
        width: 100%;
        height: 100%;
    }
    #self-intro {
        padding-left: 0px;
        padding-bottom: 50px;
        order: 1;
    }
    .flex-nav {
        margin: auto;
        justify-content: center;
    }
    .flex-nav>li {
        margin-left: 12px;
        margin-right: 12px;
    }
    #resume {
        margin-top: 100px;
    }
}