---
tags: ['project']
date: 2018-12-07
title: Magpie
blurb: A game about a magpie's museum heist.
tools: ['C++', 'OpenGL', 'Maya', 'Blender']
thumbnail: Magpie.png
layout: layouts/project.njk
buttons: [{ icon: 'download', text: 'Download', link: 'https://github.com/ShiJbey/Magpie/releases/tag/0.2.0'}, { icon: 'link', text: 'View', link: 'https://github.com/ShiJbey/Magpie/tree/0.2.0' }]
---

<p>This game was developed in pure C++ by a team of four Computer Game Programming students over three months. I was responsible for standardizing the asset creation and loading pipeline and producing all 3D assets. I also designed the gameplay map using our bitmap level-loading pipeline. I led high-level design discussions and maintained up-to-date documentation and task lists.</p>

{% macro src(img)%}{{ img.src }}{% endmacro %}

{% macro alt(img) %}{{ img.alt }}{% endmacro %}

{% macro overlay(img) %}{% endmacro %}

{% macro fields(dat) %}href = "{{ dat.url | url }}"{% endmacro %}

{% set data = magpie %}
{% include "gallery.njk" %}