<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tiffany Li</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link href="{{ '/static/base.css' | url }}" type="text/css" rel="stylesheet">
  <script type="module" async>
    import Lazyload from "https://cdn.skypack.dev/vanilla-lazyload";
    const lazyload = new Lazyload();
</script>
</head>
<body>
  <div class="body-wrapper">
    {% include "header.njk" %}
    <div class="content">
      {{ content | safe }}
    </div>
  </div>
</body>
</html>
