<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ metaDescription }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tiffany Li</title>
  <link href="{{ '/static/base.css' | url }}" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="body-wrapper">
    {% include "header.njk" %}
    <div class="content">
      {{ content | safe }}
    </div>
  </div>
  {% set socialsMargin = "12px" %}
  <div class="center-flex" style="height: 150px; align-items: end;">
    {% include "socials.njk" %}
  </div>
  <script>
    window.lazyLoadOptions = {
      callback_loaded: function (element) {
        if (typeof gallery !== 'undefined')
        {
          gallery.sizeGalleries();
        }
      },
    };
    if (typeof gallery !== 'undefined')
    {
      gallery.sizeGalleries();
    }
    </script>
  <script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
</body>
</html>
